Source: sluice
Rules-Requires-Root: no
Section: utils
Priority: optional
Maintainer: Colin Ian King <colin.i.king@gmail.com>
Standards-Version: 4.7.0
Build-Depends: debhelper (>= 13),
               debhelper-compat (=13)
Homepage: https://github.com/ColinIanKing/sluice

Package: sluice
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: rate limiting data piping tool
 Sluice reads from standard input and write to standard output at a specified
 data rate.  This can be useful for benchmarking and exercising I/O streaming
 at desired throughput rates.
